


@font-face {
	font-family: 'DINPro-Light';
	src: url('fonts/DINPro-Light/DINPro-Light.eot');
	src: local('☺'), url('fonts/DINPro-Light/DINPro-Light.woff') format('woff'), 
	url('fonts/DINPro-Light/DINPro-Light.ttf') format('truetype'), 
	url('fonts/DINPro-Light/DINPro-Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, 
tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, 
hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of Eric Meyer's CSS Reset */

html {
	height: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
body {
	font: 12px/18px 'PT Sans', Arial, sans-serif;
	width: 100%;
	height: 100%;
}
.wrapper {
	width: 100%;
	min-width: 1200px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}
.inb {
	width: 1200px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	padding-top: 1px;
}


/* Header
-----------------------------------------------------------------------------*/
.header {
	width: 100%;
	min-width: 1200px;
	height: 112px;
	background: #fff;
}
.header .inb {
	padding-top: 20px;
}
.h_logo {
	display: block;
	width: 308px;
	height: 81px;
	background: url('i/bg-logo.png') no-repeat;
	float: left;
	text-indent: -2989px;
}
.h_desc {
	float: left;
	margin: 20px 0 0 36px;
	font: 40px/42px 'PT Sans';
}
.h_tel {
	float: right;
	width: 208px;
	text-align: right;
	color: #3B3B3B;
	font-size: 20px;
	font-weight: bold;
	line-height: 22px;
	background: url('i/bg-tel.png') left bottom no-repeat;
}
.h_tel-head {
	margin: 12px 0 11px;
	font-size: 15px;
	font-weight: normal;
	line-height: 15px;
}


.h_nav {
	width: 100%;
	min-width: 1200px;
	height: 73px;
	background: #f0f0f0;
}
.h_nav ul {
	width: 1200px;
	margin: auto;
}
.h_nav li {
	display: inline-block;
	margin: 0 5px;
}
.h_nav a {
	display: inline-block;
	height: 57px;
	font-size: 20px;
	line-height: 57px;
	color: #000;
	text-decoration: none;
	padding: 0 24px;
	-webkit-border-radius: 4px;
	        border-radius: 4px;
	margin-top: 8px;
}
.h_nav a:hover {
	background: #B7B7B7;
	color: #fff;
}




/* Middle
-----------------------------------------------------------------------------*/
.content {
	padding: 0 0 73px;
}
.c_head {
	color: #000;
	text-align: center;
	margin: 72px 0 80px;
	font-size: 30px;
	font-weight: bold;
	line-height: 30px;
	text-transform: uppercase;
}
.c_head span {
	display: inline-block;
	margin: 0 auto;
	position: relative;
}
.c_head span:before {
	content: "";
	position: absolute;
	top: -21px;
	left: 0;
	width: 61px;
	height: 5px;
	background: #000;
}


.c_slide {
	width: 100%;
	min-width: 1200px;
	height: 487px;
	overflow: hidden;
}

.c_top {
	width: 100%;
	min-width: 1200px;
	height: 300px;
	background: url('i/bg-top-vospomin.jpg') center top no-repeat;
	color: #FFF;
	text-align: center;
	font-weight: bold;
	line-height: 1.2;
	text-transform: uppercase;
}
.c_top-head {
	font-size: 60px;
	margin-top: 70px;
}
.c_top-desc {
	font-size: 25px;
	margin-top: 20px;
}



/* List service ------------------- */
.c_serv-list {
	width: 1240px;
	margin-left: -20px;
	text-align: center;
	font-size: 0;
}
.c_serv-list li {
	display: inline-block;
	width: 380px;
	margin: 0 15px;
}
.c_serv-list__head {
	color: #545454;
	font: 30px/75px 'DINPro-Light';
	height: 75px;
	background: rgb(234,234,234);
	background: -moz-linear-gradient(top,  rgba(234,234,234,1) 0%, rgba(191,191,191,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(234,234,234,1) 0%,rgba(191,191,191,1) 100%);
	background: linear-gradient(to bottom,  rgba(234,234,234,1) 0%,rgba(191,191,191,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#bfbfbf',GradientType=0 );
}
.c_serv-list__thumbs {
	width: 380px;
	height: 240px;
	overflow: hidden;
}
.c_serv-list__button {
	display: inline-block;
	margin: 25px 0;
	width: 330px;
	height: 60px;
	-webkit-border-radius: 7px;
	        border-radius: 7px;
	border: 3px solid #c6c6c6;
	text-align: center;
	text-decoration: none;
	color: #545454;
	font: 27px/56px 'DINPro-Light';
}



/* Comfort ------------------------------------ */
.c_comfort-list {
	list-style: none;
	font-size: 0;
	text-align: center;
	overflow: hidden;
}
.c_comfort-list li {
	display: inline-block;
	width: 300px;
	margin: 0 50px 50px;
	vertical-align: top;
}
.c_comfort-list__thumbs {
	width: 278px;
	height: 278px;
	margin: 0 auto 50px;
	-webkit-border-radius: 100%;
	        border-radius: 100%;
	overflow: hidden;
	position: relative;
}
.c_comfort-list__head {
	width: 290px;
	margin: auto;
	text-align: center;
	color: #545454;
	font-size: 24px;
	line-height: 28px;
}
.c_comfort-button {
	display: block;
	margin: 25px auto;
	width: 420px;
	height: 60px;
	-webkit-border-radius: 7px;
	        border-radius: 7px;
	border: 3px solid #c6c6c6;
	text-align: center;
	text-decoration: none;
	color: #545454;
	font: 27px/56px 'DINPro-Light';
}




/* Rewiews --------------------------------- */
.c_rew {
	margin-bottom: 75px;
}



/* Preim list ----------------------------- */
.c_preimv {
	text-align: center;
	font-size: 0;
	padding: 27px 0;
}
.c_preimv-item {
	display: inline-block;
	width: 520px;
	margin: 0 35px;
	overflow: hidden;
	color: #000;
	font-size: 15px;
	line-height: 20px;
	text-align: left;
	vertical-align: top;
}
.c_preimv-item__icon {
	width: 104px;
	height: 104px;
	-webkit-border-radius: 100%;
	        border-radius: 100%;
	background: #b7b7b7;
	margin: 0 12px 10px 0;
	float: left;
	position: relative;
}
.c_preimv-item__icon-korr:before {
	content: "";
	position: absolute;
	top: 27px;
	left: 50%;
	margin-left: -26px;
	width: 52px;
	height: 52px;
	background: url('i/bg-icon.png') 0 0 no-repeat;
}
.c_preimv-item__icon-diam:before {
	content: "";
	position: absolute;
	top: 29px;
	left: 50%;
	margin-left: -24px;
	width: 48px;
	height: 50px;
	background: url('i/bg-icon.png') -52px 0 no-repeat;
}
.c_preimv-item__head {
	display: block;
	font-size: 20px;
	font-weight: bold;
	line-height: 20px;
	margin-bottom: 12px;
}



/* Why ------------------------------------------------ */
.c_why-list {
	width: 1232px;
	margin-left: -16px;
	text-align: center;
	font-size: 0;
	margin-bottom: 65px;
}
.c_why-list li {
	display: inline-block;
	width: 377px;
	margin: 0 16px;
	vertical-align: top;
	text-align: left;
}
.c_why-list__thumbs {
	width: 377px;
	height: 377px;
	overflow: hidden;
	-webkit-border-radius: 7px;
	        border-radius: 7px;
	margin-bottom: 18px;
}
.c_why-list__thumbs img {
	width: 377px;
	height: auto;
	min-height: 377px;
}
.c_why-list__head {
	color: #000;
	font-size: 20px;
	font-weight: bold;
	line-height: 25px;
	margin-bottom: 12px;
}
.c_why-list__txt {
	font-size: 15px;
	line-height: 20px;
	width: 290px;
}



/* Kach line -------------------------- */
.c_kachl {
	width: 100%;
	min-width: 1200px;
	height: 559px;
	background: url('i/bg-podr.jpg') center top no-repeat;
}



/* Footer
-----------------------------------------------------------------------------*/
.footer {
	width: 100%;
	min-width: 1200px;
	margin: -73px auto 0;
	height: 73px;
	background: #ababab;
	position: relative;
	color: #FFF;
	font-size: 16px;
	line-height: 73px;
	text-align: center;
}